:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    /*overflow: hidden;*/
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    background-color: #dfdfdf;
    padding: 14px 20px;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav-links a {
    color: #555555;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    justify-content: right;

}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo h1 {
    font-size: 30px;
    color: #333333;
    padding-left: 20px;
}

.hero {
    display: flex;
    width: 100%;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 100px;
    color: #333333;
    z-index: 1;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 5%;
}

.hero-image {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    padding-left: 125px;
}

.container {
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.column {
    float: left;
}

.fourty {
    width: 40%;
    padding: 20px;
}

.sixty {
    width: 60%;
    padding: 10px;
}

.thirty {
    width: 30%;
    padding: 10px;
}

.seventy {
    width: 70%;
    padding: 10px;
}

.about h1 {
    font-size: 36px;
    color: #333333;
}

.about p {
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
    padding-left: 20px;
}

.skills h1 {
    font-size: 36px;
    color: #333333;
}

.skills p {
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
    padding-left: 20px;
}

.contact {
    display: flex;
    padding: 1px;
}

.projects {
    display: flex;
    padding: 10px;
}

.projects h1 {
    font-size: 36px;
    color: #333333;
}

.projects p {
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
    padding-left: 20px;
}

.projects ul {
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
    padding-left: 60px;
}

.links h1 {
    font-size: 36px;
    color: #333333;
    padding-right: 20px;
}

.links img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 30px 20px 0px 20px;
}

.links p {
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
    padding-top: 20px;
}